* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
#navbar a {
    margin-top: 24px;
}
a {
    font-size: larger;
    font-weight: bold;
    padding-left: 48px;
    margin-left: 3%;
}
#portraits,
#landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#portraits img,
#landscape img {
    width: 100%;
}

#hero-content {
    background-image: url(../images/urban-hi-res-3q76.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-content p {
    color: lightskyblue;
    font-size: large;
    font-weight: bold;
    text-align: end;
}

h1 {
    text-align: center;
    background-color: lightskyblue;
    padding: 28px;
    text-decoration: underline;

}

.cards {
    background-color: aqua;
    text-align: left;
}

.card-container {
    padding: 36px;
    display: flex;
    gap: 12px;
}

.card-container div {
    padding: 12px;
    border: 5px solid skyblue;
    flex: 1;
    min-width: 100px;
}