@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Delius", sans-serif;
}

a {
    font-size: larger;
    font-weight: bold;
    max-width: 900px;
    background-color: navy;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

#ic {
    text-align: center;
    background-color: pink;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#sc {
    text-align: center;
    background-color: lightblue;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

#dc {
    text-align: center;
    background-color: lightgreen;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    padding-top: 25px;
}

p {
    padding-bottom: 25px;
}