* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
}
#navbar {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    height: 50px;
    padding-top: 10px;
    gap: 20px;
}

a {
    background-color: blue;
    color: white;

}

#layout {
    display: flex;
    
}

.thumbnail-column {


}

#product-info-column p {
    font-size: larger;
    font-weight: bold;
}

section h6 {
    text-decoration: underline;
}