* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    height: 50px;
    padding-top: 10px;
    gap: 20px;
}

a {
    background-color: blue;
    color: white;
    width: 48ps;
}

#layout {
    padding-top: 20px;
    justify-content: left;
    box-sizing: content-box 20px;
    
}

.thumbnail-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  justify-content: right;

}



#product-info-column p {
    font-size: larger;
    font-weight: bold;
}

section h6 {
    text-decoration: underline;
}