* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.navbar {
  align-content: center;
}
 a {
    font-size: larger;
    font-weight: bolder;
    background-color: blue;
    color: white;
    padding-top: 24px;
 }
 #layout {
    display: flex;
    gap: 50px;
 }

 #product-info-column p {
    font-size: larger;
    font-weight: 900;
    flex: 1;
 }

 #featured-image-column {
    width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    flex: 1;
 }
section h6{
    display: flex;
    gap: 50px;
}

.thumbnail-column  {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px; 
  flex: 1;
}
